/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0pt none;
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0pt;
    outline-color: invert;
    outline-style: none;
    outline-width: 0pt;
    padding: 0pt;
    vertical-align: baseline;
} */

html {
    font-size: 20px;
}

* {
    font-family: Georgia, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.box {
    justify-content: space-around;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #ddd;
}

h2 {
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

h3 {
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

a {
    color: #034d99;
    text-decoration: none;
}

a:focus, a:hover {
    color: #FF5151;
    text-decoration: none;
}

body {
    margin: 2em auto 2em auto;
    max-width: 835px;
    min-width: 720px;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
}

img {
    border: none;
}

.paper {
    margin: 0.25rem 0;
}

.paper p {
    line-height: 1.25rem;
}

pre, code {
    font-family: 'Lucida Console', 'Andale Mono', 'Courier', monospaced;
    margin: 1em 0;
    padding: 0;
}

.awards div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.4rem;
}

.portrait {
    max-height: 220px;
    object-fit: contain;
}

.introbox {
    align-items: center;
}

.name {
    line-height: 150%;
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
    text-align: center;
}

.status {
    text-align: center;
}

@media (min-width: 1200px) {
    .introbox {
        flex-direction: row;
    }
    .introtext {
        align-items: stretch;
    }
    .name, .status {
        text-align: left;
    }
    html {
        font-size: 14px;
    }
    body {
        min-width: 500px;
    }
}
